.links {
    margin: 10px;
  }

  .navigation-icons {
    opacity: 0.6;
  }

  .navigation .navbar-brand {
    color: #123B84;;
    font-size:calc(20px + 1vw);
    white-space: pre-line;
  }
  .navigation .navbar-brand:hover { 
    color: #123B84;
  }

  .navigation-brand {
    color: #123B84;
  }
  
  .navigation .navbar-brand:visited { 
    color: #123B84;
  }
  
  .navigation {
    min-height: 7rem;
    margin-bottom: 3rem;
    background-color: #335955;
    background: linear-gradient( #d5d4d4, #e7e7e7);
  }
  