.links {
    margin: 10px;
  }

  .navigation-icons {
    opacity: 0.6;
  }

  .navigation .navbar-brand {
    color: #123B84;
    font-size:calc(20px + 1vw);
    
  }
  .navigation .navbar-brand:hover { 
    color: #123B84;
  }
  
  .navigation .navbar-brand:visited { 
    color: #123B84;
  }
  
  .navigation {
    min-height: 7rem;
    margin-bottom: 3rem;
    background-color: #e7e7e7;
  }
  