.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
  }
  
  .card {
    margin: 5px;
  }
  
  .card-year {
    font-size: smaller;
    color:#123B84;
  }
  
  .project-icons {
    margin-right: 4px;
    width: 1.6em;
    opacity: 70%;
  }
  
  .techs {
    display: flex;
    flex-direction: row;
  }
  
  .tech {
    padding-right: calc(3px + 1vmin);
  }
  
  .card-techs{
    font-size: smaller;
    color:#123B84;
    position: absolute;
      bottom: 1rem;
  }
  
  .card-text {
    color:black;
    font-size: small;
  }