.root {
  background-color: whitesmoke
}

.Content-header {
  text-align: left;
  font-size: larger ;
  color: #123B84;
  margin-bottom: 0.2rem;
}

.Content-subheader {
  text-align: center;
  font-size: medium;
  color: black;
  margin-top: 2rem;
}


