.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Content-header {
  text-align: left;
  font-size: larger ;
  color: #123B84;
  margin-bottom: 0.2rem;
}

/* About */
.Content {
  text-align: left;
  white-space: pre-line;
}

.theis {
  margin-top: 100px;
}

/* Navigation */

.navigation .navbar-brand {
  color: #123B84;
  font-size:2rem;

}

.navigation {
  min-height: 7rem;
  margin-bottom: 3rem;
  background-color: #e7e7e7;
}

/* NoPage */
.error {
  text-align: center;
  justify-content: center;
}

/* contact */
.contact-container {
  display: inline-flex;
  align-items: center;
  margin-left: calc(-26px + 4.5vmin);
}

.contact-icon img {
  width: calc(12px + 2vmin);
  height: calc(12px + 2vmin);
  margin-right: 3px;

}

.contact-text {
  padding-left: 10px;
  font-size:4.2vmin;
  float: right;
  text-align: left;
  justify-content: left;
  padding-top: calc(16px + 0.2vmin);
}

.contact-general {
  align-items: left;
  justify-content: left;
  
}

