.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Content-header {
  text-align: left;
  font-size: larger ;
  color: #123B84;
  margin-bottom: 0.2rem;
}

.Content-subheader {
  text-align: left;
  font-size: medium;
  color: black;
  margin-top: 0.6rem;
}

/* About */
.Content {
  text-align: left;
  white-space: pre-line;
  margin-top: 2rem;
}

.theis {
  margin-top: 100px;
}

/* Navigation */
.navigation .navbar-brand {
  color: #123B84;
  font-size:calc(10px + 4vmin);
  
}
.navigation .navbar-brand:hover { 
  color: #123B84;
}

.navigation {
  min-height: 7rem;
  margin-bottom: 3rem;
  background-color: #e7e7e7;
}

/* NoPage */
.error {
  text-align: center;
  justify-content: center;
}

/* contact */
.contact-container {
  display: inline-flex;
  align-items: center;
  margin-left: calc(-29px + 4vmin);
}

.contact-icon img {
  width: calc(12px + 2vmin);
  height: calc(12px + 2vmin);
  margin-right: 3px;

}

.contact-text {
  padding-left: 10px;
  font-size:4.2vmin;
  float: right;
  text-align: left;
  justify-content: left;
  padding-top: calc(16px + 0.2vmin);
}

.contact-general {
  align-items: left;
  justify-content: left;
  margin-top: 12vmin;
  
}

/* projects */
.projects {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content:space-evenly;
}

.card {
  margin: 2px
}

.card-year {
  font-size: smaller;
  color:#123B84;
}

.project-icons {
  margin-right: calc(4px + 0.5vmin);
}

.techs {
  display: flex;
  flex-direction: row;
}

.tech {
  padding-right: calc(3px + 1vmin);
}

.card-techs{
  font-size: smaller;
  color:#123B84;
  position: absolute;
    bottom: 1rem;
}

.card-text {
  color:black;
  font-size: 0.8rem;
}
